/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
board/qemu/arm-vexpress-optee/rootfs_overlay/bin
board/qemu/arm-vexpress-optee/rootfs_overlay/lib
